#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainTitle {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 700;
}
.matchesPTag {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  border: solid 1px #e9ec0fee;
  padding: 10px 30px;
}